// Summary of an article
.articleSummary {
	padding-top: 1rem;
	padding-bottom: 1rem;

	&:first-child {
		padding-top: 0;
	}

	&:last-child {
		padding-bottom: 0;
	}
}

.articleSummary__cover {
	margin-bottom: 0.5rem;
	width: 300px;
	max-width: 100%;
	background: @dark;

	img {
		display: block;
		width: 100%;
		height: auto;
	}
}

.articleSummary__section,
.articleSummary__title,
.articleSummary__authors {
	color: @text;
}

.articleSummary__section {
	font-size: 0.85rem;
	font-weight: @normal;
}

.articleSummary__title {
	font-weight: @bold;
	line-height: 1.5em;
}

.articleSummary__authors {
	font-weight: @normal;
}

.articleSummary--withCover {
	background: @offset;
	color: #000;

	.articleSummary__section,
	.articleSummary__title,
	.articleSummary__authors {
		color: #000;
	}
}

@media (min-width: @break-lg) {

	.articleSummary {
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
	}

	.articleSummary__section {
		font-size: 1rem;
	}

	.articleSummary__title {
		font-size: 1.2rem;
		font-weight: @bold;
		line-height: 1.5em;
	}

	.articleSummary__authors {
		font-size: 1.2rem;
		font-weight: @normal;
	}
}

@media (min-width: @break-xl) {

	.articleSummary {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

	.articleSummary__title {
		font-size: 1.3rem;
	}

	.articleSummary__authors {
		font-size: 1.2rem;
		font-weight: @normal;
	}
}
