// Buttons
.button {
	display: inline-block;
	background: transparent;
	border: 1px solid @accent;
	border-radius: @radius;
	padding: 0.25rem 1rem;
	color: @accent;
	font-family: @font;
	font-weight: @bold;
	line-height: 1.5rem;
	cursor: pointer;

	&:hover,
	&:focus {
		background: @accentLight;
		border-color: @accentLight;
		color: #fff;
	}
}

.button--primary {
	background: @accent;
	color: #fff;
}
