// Issue group for an issue's special section
.issueGroup--special {
	background: @light;
}

@media (min-width: @break-md) {

	.issueGroup {

		.col--left,
		.col--right {
			padding-top: 3rem;
			padding-bottom: 3rem;
		}
	}
}
