// Pagination links on section archives
.pagination {
	position: relative;
	text-align: right;
}

.pagination__current {
	margin-right: 0.5em;
}

.pagination__prev .fa {
	margin-left: 0.25em;
}

.pagination__prev {
	float: left;

	.fa {
		margin-right: 0.25em;
	}
}

// OJS markup on search and issue archive pages
.cmp_pagination {
	margin-top: 3rem;
	text-align: right;

	strong {
		margin-left: 0.5em;
		margin-right: 0.5em;
	}

	a {
		.button;
		padding-left: 0.5em;
		padding-right: 0.5em;
	}
}
