// Base settings for whole site

* {
	box-sizing: border-box;
}

html,
body {
	background: @bg;
	font-family: @font;
	font-size: 16px;
	line-height: 1.5em;
	color: @text;
}

a {
	color: @accent;
	font-weight: @bold;
	text-decoration: none;

	&:hover,
	&:focus {
		color: @accentLight;
	}
}

.siteWrapper {
	max-width: @break-xl;
	margin-left: auto;
	margin-right: auto;
}
