// Base settings for whole site

* {
	box-sizing: border-box;
}

html,
body {
	background: @bg;
	font-family: @font;
	font-size: 16px;
	line-height: 1.5em;
	color: @text;
}

a {
	color: @accent;
	font-weight: @bold;
	text-decoration: none;

	&:hover,
	&:focus {
		color: @accentLight;
	}
}

.siteWrapper {
	max-width: @break-xl;
	margin-left: auto;
	margin-right: auto;
}

input[type="text"],
input[type="search"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
input[type="password"],
select,
textarea {
	display: block;
	padding: 0.5em 1em;
	background: transparent;
	border: 1px solid @border;
	border-radius: @radius;
	max-width: 100%;

	&:hover {
		border-color: @text-light;
	}

	&:focus {
		outline: 0;
		border-color: @text;
	}
}

select {
  width: 100%;
	cursor: pointer;
}

input[type="text"],
input[type="search"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
input[type="password"],
select {

	@media(min-width: @break-sm) {
		max-width: 15em;
	}
}

input[type="search"] {
	box-sizing: border-box; // normalize.css resets this to content-box
}

textarea {
	width: 100%;
	min-height: 10em;
}
